

body{
	background: #111;
	color: #FFF;
	font-size: 12px;
}
a{
	color: #FFF;
}
a:hover{
	color: #AAA;
	text-decoration: none;
}
li{
	list-style: none;
}
select{
	color: #000;
	padding: 5px;
	width: 100%;
}

h3{
	font-size: 1.4em;
}
code{
	background: #000;
	color: #0A0;
}
fieldset legend{
	color:#FFF;
}
.breadcrumb{
	background: #222;
}

#header{
	background: #111;
	height: 40%;
	border-bottom: 2px solid #069;
}
#header .title h2{
	font-size: 1.8em;
}
#header .title h2 small{
	font-size: 0.8em;
}
#menu{
	background: #222;
	border-right: 1px dashed #FFF;
	height: 380px;
	overflow-y:auto;
	overflow-x:hidden;
	word-wrap:break-word;
}
#menu .files{
	margin-top: 20px;
}
#menu .files a{
	color: #FFF;
}
#menu .files a li{
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px dotted #FFF;
}
#content{
	background: #333;
	height: 380px;
	overflow: auto;
}
.table tbody tr td{
	border-top: 1px solid #666;
	color: #999;
}
#footer{
	padding-left: 40px;
	border-top: #999 2px solid;
	height: 150px;
	overflow-y:auto;
}
#footer .comment{
	color:#666;
}


table.view tr th:nth-child(3){
	width: 50px;
}
table.view tr th:first-child,
table.view tr th:nth-child(2){
	width: 20px;
}